.Tracks {
  overflow-y: scroll;
}

.Track {
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.Track:hover {
  cursor: pointer;
}

.Track:hover {
  background-color: #282828;
}

.Track_image {
  width: 40px;
  position: absolute;
  left: 50px;
}

.Track_title {
  position: absolute;
  left: 135px;
}

.Track_index {
  position: absolute;
  left: 20px;
}

.Track_explicit {
  position: absolute;
  left: 105px;

  opacity: 0.6;
  width: 15px;
}

.Track_duration {
  position: absolute;
  right: 80px;
}
