.Menu {
  width: 290px;
  height: 100%;
  background-color: #040404;
  position: relative;
}

.Menu_logo {
  width: 42px;
  height: 42px;
  padding: 15px;
}

.Menu_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.Menu_list {
  display: flex;
  flex-direction: column;
}

.Menu_items {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

.active {
  background-color: #282828;
}

.Menu a {
  padding-left: 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.Menu img {
  width: 24px;
  height: 24px;
}

.Menu_disconnect {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-height: 400px) {
  .Menu_disconnect {
    display: none;
  }
}
