.Profile {
  display: flex;
  padding: 25px;
  font-weight: lighter;
}

.Profile img {
  border-radius: 500px;
  height: 220px;
  width: 220px;
  object-fit: cover;
}

.Profile_username {
  font-size: 60px;
  font-weight: bold;
}

.Profile_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 25px;
}
