.Spotplayer {
  height: 90px;
  background-color: #282828;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Spotplayer button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.Spotplayer_content {
  width: 95%;
}

@media screen and (max-height: 400px) {
  .Spotplayer {
    display: none;
  }
}
