.Card {
  width: 220px;
  padding: 0px 20px 20px 20px;
  position: relative;
}

.Card_player {
  position: absolute;
  width: 64px;
  height: 64px;
  opacity: 1;
  top: 80px;
  left: 100px;
  transition: 0.3s ease;
}

.Card_image {
  width: 220px;
  height: 220px;
  cursor: pointer;
  object-fit: cover;
}

.Card_title {
  font-size: 18px;
  font-weight: medium;
}

.Card_owner {
  font-size: 16px;
  font-weight: lighter;
  color: lightgray;
}

.artist {
  border-radius: 150px;
}

.Card a {
  font-size: 16px;
  font-weight: lighter;
  color: lightgray;
  text-decoration: none;
}

.Card a:hover {
  text-decoration: underline;
  cursor: pointer;
}
