.Search {
  padding-left: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Search_box {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 35%;
}

input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px;
  background-color: #242424;
  color: white;
  transition: 0.35s;
}

input[type="text"]:focus {
  outline: none;
  background-color: #3d3d3d;
  transition: 0.35s;
}
