.App_login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App_credits {
  position: absolute;
  bottom: 20px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  width: 40%;
  height: 50%;
  color: black;
}

.login_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 350px;
  height: 50px;
  margin-top: 20px;
  background-color: #00bcd4;
  text-decoration: none;
  color: black;
}
