.App {
  height: 100%;
  display: flex;
  background-color: #131313;
}

.outerWrap {
  height: calc(100vh - 90px);
  min-height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.main h1 {
  font-weight: medium;
  margin: 20px 0 0 20px;
}
.main h2 {
  font-weight: normal;
  margin: 10px 0 20px 20px;
}
